# Anatomy of the Results Pane

[<Back](readme.md)

With our newly installed car_crash database, we are now set to write SQL queries, and create interesting tabular, as well as visual results. First letâ€™s open a new query from the server dashboard using the car_crash database... [Full text available at leanpub.com](https://leanpub.com/hands-on-ads)

Next enter the query:
```sql
select distinct BOROUGH  
  from edw.D_LOCATION
```

## Querying for Easy Visuals

We will now extend our query to count the total number of accidents recorded for each borough by using the following query:
```sql
select l.BOROUGH
     , count(*) as ACCIDENTS
  from edw.D_LOCATION l
  join edw.F_COLLISIONS c
    on c.LOCATION_ID = l.LOCATION_ID
 where l.BOROUGH is not null
 group by l.BOROUGH
 ```
 
## Getting Pixel Perfect

For more control of your visual creation, you can try using the SandDance visualizer. Since we will gain an additional axis using SandDance, we will add the **MONTH_NAME** to our query by joining to the **DATE** dimension. The updated query is as follows:
```sql
select l.BOROUGH
     , d.MONTH_NAME
     , count(*) as ACCIDENTS
  from edw.D_LOCATION l
  join edw.F_COLLISIONS c
    on c.LOCATION_ID = l.LOCATION_ID
  join edw.D_DATE d 
    on d.DATE_KEY = c.DATE_KEY
 where l.BOROUGH is not null
 group by l.BOROUGH
        , d.MONTH_NAME
 ```

[<Previous](../CH-03/readme.md)  | [Next>](CH-04-02.ipynb)